<img src="https://files.realpython.com/media/PySpark-Tutorial_Watermarked.305db668c8cb.jpg"/>

### ¿Qué es Apache Spark?
Spark es una solución de big data que ha demostrado ser más fácil y rápida que Hadoop MapReduce. Spark es un software de código abierto desarrollado por UC Berkeley RAD lab en 2009. Desde que fue lanzado al público en 2010, Spark ha crecido en popularidad y se utiliza a través de la industria con una escala sin precedentes.

### ¿Qué es Pyspark?

Spark es el nombre del motor para realizar la computación en clúster, mientras que PySpark es la biblioteca de Python para usar Spark.

### ¿Cómo funciona Spark?
Spark se basa en el motor computacional, lo que significa que se encarga de la programación, distribución y supervisión de la aplicación. Cada tarea se realiza en varios equipos de trabajo llamados clúster de computación. Un clúster informático hace referencia a la división de tareas. Una máquina realiza una tarea, mientras que las otras contribuyen a la salida final a través de una tarea diferente. Al final, todas las tareas se agregan para producir una salida. El administrador de Spark ofrece una visión general 360 de varios trabajos de Spark.

<img src="https://guru99.es/wp-content/uploads/2020/02/082918_1213_ApacheSpark1-1500x566.png"/>

Spark está diseñado para funcionar con
* Python
* Java
* Scala
* SQL
Una característica significativa de Spark es la gran cantidad de biblioteca incorporada, incluyendo MLLib para el aprendizaje automático. Spark también está diseñado para trabajar con clústeres de Hadoop y puede leer el amplio tipo de archivos, incluyendo datos Hive, CSV, JSON, datos de Casandra entre otros.

### Jupyter
Abra Jupyter Notebook y pruebe si PySpark funciona. En un nuevo bloc de notas pegue el siguiente código:

In [4]:
import pyspark

ModuleNotFoundError: No module named 'pyspark'

In [6]:
!pip install pyspark -i https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/simple --trusted-host artifactory.apps.bancolombia.com

Looking in indexes: https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/simple
Collecting pyspark
  Downloading https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/packages/packages/8e/b0/bf9020b56492281b9c9d8aae8f44ff51e1bc91b3ef5a884385cb4e389a40/pyspark-3.0.0.tar.gz (204.7MB)
Collecting py4j==0.10.9 (from pyspark)
  Downloading https://artifactory.apps.bancolombia.com/api/pypi/pypi-bancolombia/packages/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
Building wheels for collected packages: pyspark
  Running setup.py bdist_wheel for pyspark: started
  Running setup.py bdist_wheel for pyspark: finished with status 'done'
  Stored in directory: C:\Users\ducatano\AppData\Local\pip\Cache\wheels\d0\dc\03\4ed1f281599356f993ce850cfbce5fcc232d688eb26a691d0b
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.0

<br>Spark es un **"framework" (entorno de trabajo) gratuito y de código abierto para la computación en "clusters" de ordenadores**.</br>

<br>**¿Pero qué es un "cluster"?** </br>

<br>Un "cluster" es una agrupación o conglomerado de ordenadores con un mismo "hardware" común que se comportan como si fuesen un único ordenador, que se usan mayoritariamente para procesar cálculos complejos o grandes volúmenes de datos</br>

<img src="https://sites.google.com/site/sdistribuidoscluster/_/rsrc/1472854955027/proceso/actividad-1/CLUSTER.jpg"/>

Una de las principales ventajas de Spark es que **combina esta capacidad de computación distribuida con un código sencillo y elegante, que además ofrece soporte a múltiples lenguajes de programación**, entre ellos el Python. de la fusión entre Python y Spark nace el paquete **PySpark**

Spark Posee dos funcionalidades:
1. Los grafos acíclicos dirigidos, del inglés "directed acyclic graph"
2. Bases de datos distribuidas y resilientes, del inglés "resilient distributed dataset"

### Grafos acíclicos dirigidos

Desde una etapa de trabajo o estado concreto de nuestro proyecto vamos a realizar múltiples procesos, transformaciones de nuestros datos, acciones, etc., algunos de los cuales van a realizarse de forma paralela, pero a lo largo de todos los procesos nunca vamos a regresar al estado en el que nos encontrábamos al principio. 

1. "Dirigido",  significa que cada borde tiene una dirección definida. Por lo que cada borde necesariamente representa un flujo de datos direccional único de un vértice a otro. 
2. "Acíclico" significa que no hay bucles o ciclos en el gráfico. Esto significa que, para cualquier vértice dado, si sigue un borde que conecta ese vértice con otro, no hay camino en el gráfico para volver a ese vértice inicial.

<img src="https://lh3.googleusercontent.com/Dd7VYnExW97KixnE_R_-dnD5InTAYDK2wKv8pAtcJoyV9lxbHJxvvGxRwkMptga0t5z8TNK7RcBF0YlPPKlVyqMoJHcggFtd-7eFVNiRPyAl9G9Whu2XNBzBBE5ZPourNTJxrVl4"/>

Un Directed Acyclic Graph o Grafo Acíclico Dirigido (DAG), **es un tipo de grafo por el cual se puede representar una serie de datos relacionados entre sí**. Estos datos se presentan visualmente como un conjunto de círculos o nodos. Cada uno de estos **círculos o nodos, representa un determinado conjunto de datos dentro de todo el grupo**. A la vez, estos nodos están conectados por líneas, que representan el **flujo de datos de un punto a otro dentro del grafo**.Cada círculo se conoce como un "vértice" y cada línea se conoce como un "borde".

### Resilient distributed dataset (RDD)
Estructura de **almacenaje distribuida en particiones**, lo que permite a los programadores realizar operaciones sobre grandes cantidades de datos en "clusters" de manera rápida y a prueba de fallos. Esta nueva estructura de datos se originó en respuesta a los problemas que se generaban al manejar datos de manera ineficiente, especialmente a la hora de ejecutar algoritmos iterativos y procesos de minería de datos.

<img src="https://miro.medium.com/max/583/1*rtyvHjINsHF_5yHf8c0Z0Q.png"/>

Un programa típico de Spark se estructura de la siguiente forma: 

1. Crea un "resilient distributed dataset" RDD . Todos y cada uno de los conjuntos de datos en Spark RDD se dividen lógicamente en muchos nodos para que se puedan calcular en diferentes nodos del clúster. 

<img src="https://intellipaat.com/mediaFiles/2015/08/Resilient-Distributed-Datasets-RDDs.jpg"/>

2. Transformaciones deseadas para crear más objetos RDD a partir del primero. Estas transformaciones no eliminan el RDD original, sino que crean nuevos. 

3. Realizar acciones sobre estos RDD y posiblemente más transformaciones sobre los datos. 

4. Guardar la RDD final

Es muy posible que los datos con los que se necesite trabajar estén en diferentes objetos RDD, por lo que Spark define dos tipos de opciones de transformación

<img src="t.png"/>

### Ejemplo
Las ventas de los años 2017 y 2016, en dos objetos distintos. Pero por otro lado solo queremos ver las ventas de productos de estos dos años que superen los, digamos, 1000 euros, para solo trabajar con los productos más exitosos.
<img src="e.png"/>

## Spark SQL 

Es un módulo de Apache Spark para el procesamiento de datos estructurados. ... Conceptualmente es equivalente a una tabla en una base de datos relacional. Los DataFrames en Spark tienen las mismas capacidades que los RDDs, como por ejemplo su inmutabilidad, en memoria, resilientes, computación distribuida.

## Apache Spark Streaming

Spark Streaming es una extensión de la API central de Spark que permite a los ingenieros de datos y científicos de datos procesar datos en tiempo real de varias fuentes, incluidas (entre otras) Kafka, Flume y Amazon Kinesis. Estos datos procesados ​​se pueden enviar a sistemas de archivos, bases de datos y paneles en vivo.

## Spark ML

Tiene como objetivo proporcionar un conjunto uniforme de API de alto nivel que ayudan a los usuarios a crear y ajustar  prácticas de aprendizaje automático. Spark MLlib aporta algoritmos tanto de aprendizaje supervisado como no supervisado que ofrece soluciones para el mundo del Machine Learning.

In [7]:
''' Vamos a usarlo con esta función y vamos a tener que especificar un 'Master', 
aquí vamos a poner 'local', ya que como no estamos gestionando nada desde un "cluster" 
estamos actuando en local, y vamos a darle un nombre, puede ser cualquiera –'Mi programa
'''
from pyspark import SparkConf, SparkContext
conf= SparkConf().setMaster("local").setAppName("Mi programa")
sc =SparkContext(conf=conf)

>> **Mira si vuelves a correr de nuevo el contexto ¿ Qué sucede?**

In [ ]:
#El link podemos seguir que está pasando con mi código
sc

In [ ]:
lines=sc.textFile("Names.txt")
lines

In [ ]:
#¿ Cuántas filas tiene?
lines.count()

In [ ]:
#Primera linea
lines.first()

In [ ]:
# Nuevo RDD. Un remuestro del 10% de lo casos que tengo del original, sin reemplazo
lines2 = lines.sample(fraction=0.1, withReplacement= False)
#Aquí no ha ejecutado nada, está pendiente de que ejecutemos una acción para ejecutarse

In [ ]:
#Nuevo inicio según el remuestreo
lines2.first()

### Dataframes en PySpark
<img src="pandas.png"/>

In [2]:
import pandas as pd
data = pd.read_csv("Promos.csv", sep=";")
data.head()

,age,job,marital,education,default,credit,prestamo,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,r,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [3]:
# Necesitamos un contexto para estas data contexto SQL
#option("header","true") inferSchema me reconoce que tipo de variables son
from pyspark.sql.types import StringType
from pyspark import SQLContext
sqlContext=SQLContext(sc)
dfspark = sqlContext.read.format("csv").option("header","true").option("inferSchema","true").load("Promos.csv",sep=";")

ModuleNotFoundError: No module named 'pyspark'

In [23]:
dfspark.show(2)

+---+-----------+-------+-----------+-------+------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
|age|        job|marital|  education|default|credit|prestamo|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|    r|nr.employed|  y|
+---+-----------+-------+-----------+-------+------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
| 30|blue-collar|married|   basic.9y|     no|   yes|      no| cellular|  may|        fri|     487|       2|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|1.313|     5099.1| no|
| 39|   services| single|high.school|     no|    no|      no|telephone|  may|        fri|     346|       4|  999|       0|nonexistent|         1.1|        93.994|        -36.4|4.855|     5191.0| no|
+---+-----------+-------+-----------+-------+------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
only showing top 2 rows

In [24]:
dfspark.head(2)

[Row(age=30, job='blue-collar', marital='married', education='basic.9y', default='no', credit='yes', prestamo='no', contact='cellular', month='may', day_of_week='fri', duration=487, campaign=2, pdays=999, previous=0, poutcome='nonexistent', emp.var.rate=-1.8, cons.price.idx=92.893, cons.conf.idx=-46.2, r=1.313, nr.employed=5099.1, y='no'),
 Row(age=39, job='services', marital='single', education='high.school', default='no', credit='no', prestamo='no', contact='telephone', month='may', day_of_week='fri', duration=346, campaign=4, pdays=999, previous=0, poutcome='nonexistent', emp.var.rate=1.1, cons.price.idx=93.994, cons.conf.idx=-36.4, r=4.855, nr.employed=5191.0, y='no')]

In [25]:
dfspark.count()

4119

Ya en Spark, el método o función para obtener un vistazo del nombre de las variables se denomina .printSchema().

In [26]:
dfspark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- credit: string (nullable = true)
 |-- prestamo: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- r: double (nullable = true)
 |-- nr.employed: double (nullable = true)
 |-- y: string (nullable = true)

In [27]:
df1= dfspark.withColumn("previous",dfspark["previous"].cast("integer"))
df1.printSchema()
#df1= dfspark.withColumn("previous",dfspark["previous"].cast("string"))

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- credit: string (nullable = true)
 |-- prestamo: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- r: double (nullable = true)
 |-- nr.employed: double (nullable = true)
 |-- y: string (nullable = true)

In [29]:
type(dfspark)

pyspark.sql.dataframe.DataFrame

El método **.select** permite la selección de columnas del data frame de spark, por ejemplo si se desea selecciónar solo las variables age y tax

In [31]:
#Visualizar las variables
dfspark.select("previous").show()

+--------+
|previous|
+--------+
|       0|
|       0|
|       0|
|       0|
|       0|
|       2|
|       0|
|       0|
|       1|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
|       0|
+--------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import isnan

dfspark.filter((dfspark["y"] == "") | dfspark["y"].isNull() | isnan(dfspark["y"])).count()

0

In [33]:
#Cortar los valores nulos
df2= dfspark.na.drop(subset=["y","marital","education"])

In [34]:
#Otra forma que no existan columnas con valores nulos desde pyspark
df2= df2.filter("y is not NULL")

In [35]:
df2.select("y").show()

+---+
|  y|
+---+
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
|yes|
+---+
only showing top 20 rows

In [36]:
dfspark.select("y").show()

+---+
|  y|
+---+
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
| no|
|yes|
+---+
only showing top 20 rows

El método .describe permite obtener un resumen rápido de las variables a análizar, en este caso para las variables numericas muestra los estadísticos: conteo, media, desv. estandar, míni y máximo.

In [40]:
dfspark.describe().show()

+-------+------------------+-------+--------+---------+-------+------+--------+---------+-----+-----------+------------------+-----------------+------------------+-------------------+--------+-------------------+-----------------+-------------------+------------------+-----------------+----+
|summary|               age|    job| marital|education|default|credit|prestamo|  contact|month|day_of_week|          duration|         campaign|             pdays|           previous|poutcome|       emp.var.rate|   cons.price.idx|      cons.conf.idx|                 r|      nr.employed|   y|
+-------+------------------+-------+--------+---------+-------+------+--------+---------+-----+-----------+------------------+-----------------+------------------+-------------------+--------+-------------------+-----------------+-------------------+------------------+-----------------+----+
|  count|              4119|   4119|    4119|     4119|   4119|  4119|    4119|     4119| 4119|       4119|              4119|             4119|              4119|               4119|    4119|               4119|             4119|               4119|              4119|             4119|4119|
|   mean| 40.11361981063365|   null|    null|     null|   null|  null|    null|     null| null|       null| 256.7880553532411|2.537266326778344| 960.4221898519058|0.19033746054867687|    null|0.08497208060208582|93.57970429716252|-40.499101723719384| 3.621355668851656|5166.481694586143|null|
| stddev|10.313361547199827|   null|    null|     null|   null|  null|    null|     null| null|       null|254.70373612073644|2.568159237578134|191.92278580077652|  0.541788323429031|    null| 1.5631144559116772|0.579348804988967|  4.594577506837539|1.7335912227013535|73.66790355721237|null|
|    min|                18| admin.|divorced| basic.4y|     no|    no|      no| cellular|  apr|        fri|                 0|                1|                 0|                  0| failure|               -3.4|           92.201|              -50.8|             0.635|           4963.6|  no|
|    max|                88|unknown| unknown|  unknown|    yes|   yes|     yes|telephone|  sep|        wed|              3643|               35|               999|                  6| success|                1.4|           94.767|              -26.9|             5.045|           5228.1| yes|
+-------+------------------+-------+--------+---------+-------+------+--------+---------+-----+-----------+------------------+-----------------+------------------+-------------------+--------+-------------------+-----------------+-------------------+------------------+-----------------+----+

In [41]:
dfspark.filter((dfspark['marital'] == "") | dfspark['marital'].isNull() | isnan(dfspark['marital'])).count()

0

Con los métodos que ya tiene habilitado Spark para sus data frame, se pueden emular ciertas funcionalidades del SQL, como agrupar, filtar, selecionar, sin embargo, en algunas ocaciones puede tornarse confuso o en queries de una complejidad mayor se pueden quedar cortos.

In [42]:
# Seleccionando los valores que son distintos en rad y ptratio.
dfspark.select('marital','education').distinct().show()

+--------+-------------------+
| marital|          education|
+--------+-------------------+
|divorced|        high.school|
|divorced|            unknown|
| unknown|  university.degree|
| married|professional.course|
|  single|           basic.9y|
| married|           basic.4y|
| married|  university.degree|
|divorced|           basic.4y|
|divorced|           basic.9y|
|  single|professional.course|
| married|           basic.9y|
|divorced|           basic.6y|
|  single|           basic.6y|
|  single|            unknown|
| married|        high.school|
| married|            unknown|
| unknown|        high.school|
|  single|  university.degree|
| married|           basic.6y|
|divorced|         illiterate|
+--------+-------------------+
only showing top 20 rows

In [43]:
## Filtrano la data por algún criterio
dfspark.filter((dfspark.age > 20) & (dfspark.marital == 'married')).show(3)

+---+-----------+-------+-----------+-------+-------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
|age|        job|marital|  education|default| credit|prestamo|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|    r|nr.employed|  y|
+---+-----------+-------+-----------+-------+-------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
| 30|blue-collar|married|   basic.9y|     no|    yes|      no| cellular|  may|        fri|     487|       2|  999|       0|nonexistent|        -1.8|        92.893|        -46.2|1.313|     5099.1| no|
| 25|   services|married|high.school|     no|    yes|      no|telephone|  jun|        wed|     227|       1|  999|       0|nonexistent|         1.4|        94.465|        -41.8|4.962|     5228.1| no|
| 38|   services|married|   basic.9y|     no|unknown| unknown|telephone|  jun|        fri|      17|       3|  999|       0|nonexistent|         1.4|        94.465|        -41.8|4.959|     5228.1| no|
+---+-----------+-------+-----------+-------+-------+--------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+-----+-----------+---+
only showing top 3 rows

In [54]:
# También puedo utilizar otras liberías externas
import numpy as np
media= np.mean(df2.select("duration").collect())
media

256.7880553532411

Para mostrar el número de particiones RDD donde esta base de datos está distribuida. Esto depende de como tengamos configurado nuestro ordenador van a ser muchas, pocas, puede ser que solo sea una, puede ser que esté distribuida en 200, dependiendo del tamaño del objeto y de nuestra configuración.

In [56]:
# ¿ Cuántas particiones tengo?
df2.rdd.getNumPartitions()

1