<img src="https://files.realpython.com/media/Python-and-SQL_Watermarked.d677ab534011.jpg"/>

### ODBC
Open DataBase Connectivity (ODBC) es un estándar de acceso a las bases de datos desarrollado por SQL Access Group (SAG) en 1992. **El objetivo de ODBC es hacer posible el acceder a cualquier dato desde cualquier aplicación, sin importar qué sistema de gestión de bases de datos (DBMS) almacene los datos.**

**A través de ODBC, un sistema se puede conectar con cualquier base de datos**

Para desarrollar un proyecto en Python en el que se quiera implementar el uso de Bases de Datos SQL, se tienen distintos módulos que pueden ser útiles. pyodbc es uno de ellos.

<img src="https://www.teslacad.co.uk/blog/wp-content/uploads/2019/08/what-is-open-database-connectivity-in-terms-of-architects-how-does-it-help-to-export-a-file-to-ODBC-in-revit-software_UK.jpg"/>

# pyodbc
pyodbc es un módulo de Python de código abierto que simplifica el acceso a las bases de datos ODBC desde Python. **pyodbc** también es considerado como un controlador SQL para Python.

### Instalar pyodbc
Para instalar pyodbc se utiliza el instalador de paquetes de Python, pip, desde la terminal del sistema, con la siguiente linea de código:

In [1]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\ducatano\appdata\local\continuum\anaconda3\lib\site-packages (4.0.25)

Esto es igual para cualquier sistema. Se puede comprobar que el módulo fue instalado de forma correcta iniciando la terminal de Python e importando el módulo con import.

In [2]:
import pyodbc

Si no arroja ningún error, entonces el paquete fue instalado de forma correcta

### Uso de pyodbc con SQL
pyodbc es utilizado principalmente para desarrollar scripts en Python para consultar, manejar y editar bases de datos.

### Conexión al servidor SQL:

### Cursor
Un cursor se utiliza para el procesamiento individual de las filas devueltas por el sistema gestor de base de datos para una consulta. Un cursor de base de datos puede considerarse como un puntero a una fila específica dentro de un resultado de consulta. El puntero se puede mover de una fila a la siguiente. Dependiendo del tipo de cursor, incluso puede moverlo a la fila anterior.

## Contexto 
En un entorno empresarial, es posible que la mayoría de los datos no se almacenen en archivos de texto o Excel. **Basado en SQL las bases de datos relacionales (como SQL Server, PostgreSQL y MySQL) se usan ampliamente**,y muchas bases de datos alternativas se han vuelto bastante populares. La elección de la base de datos es generalmente depende del rendimiento, la integridad de los datos y las necesidades de escalabilidad de un solicitud.
**Cargar datos de SQL en un DataFrame es bastante sencillo, y pandas tiene algunas funciones para simplificar el proceso.**

<img src="https://professor-falken.com/wp-content/uploads/2017/11/Como-realizar-una-conexion-a-una-base-de-datos-SQLite-en-Python-professor-falken.com_.jpg"/>

In [3]:
import sqlite3

In [4]:
query = """
        CREATE TABLE test
        (a VARCHAR(20),
         b VARCHAR(20),
         c REAL, 
         d INTEGER
    );"""

El tipo real está limitado superior e inferiormente según la cantidad de memoria que haya disponible para almacenarlo.

In [6]:
# crea una base de datos SQLite utilizando el controlador sqlite3 incorporado de Python
con = sqlite3.connect('mydata.sqlite')
con.

In [7]:
#execute():Se ejecuta la expresión SQL, tomando en cuenta los parámetros especificados . S
#siempre devuelve el mismo cursor. 
con.execute(query)

OperationalError: table test already exists

In [8]:
#commit():Guarda los cambios hechos a la base de datos.
con.commit()

In [9]:
#Luego, inserte algunas filas de datos:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]

In [10]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [11]:
#executemany ():Especifique una instrucción SQL para ejecutar varias veces, en función de 
# una lista de valores de argumento.
con.executemany(stmt, data)

In [12]:
#commit():Guarda los cambios hechos a la base de datos.
con.commit()

La mayoría de los controladores Python SQL (PyODBC, psycopg2, MySQLdb, pymssql, etc.) devuelven una lista
de tuplas al seleccionar datos de una tabla:

In [13]:
cursor = con.execute('select * from test')

In [14]:
#fetchall():Devuelve una lista con todas las filas disponibles en el query.
rows = cursor.fetchall()

In [15]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

Puede pasar la lista de tuplas al constructor DataFrame, pero también necesita el nombres de columna, contenidos en el atributo de descripción del cursor:

In [14]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [15]:
import pandas as pd

In [16]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

<img src="https://media1.giphy.com/media/3d5O10XObbr8LW4bDY/giphy.gif?cid=ecf05e472af912325c01b638f8a007e346567d7bdbaf9556&rid=giphy.gif"/>

> **Esto es un poco molesto que preferirías no repetir cada vez que consultes el base de datos**

### SQLAlchemy

Es una biblioteca que facilita la comunicación entre los programas Python y las bases de datos. La mayoría de las veces, esta biblioteca se utiliza como una herramienta de Mapeador Relacional de Objetos (ORM) que traduce las clases de Python a tablas en bases de datos relacionales y convierte automáticamente las llamadas de función a sentencias SQL.

<img src="https://media0.giphy.com/media/3NtY188QaxDdC/giphy.gif?cid=ecf05e47c54f8e34b23dbb29130c4213352fb7210ad6d0cf&rid=giphy.gif"/>

In [17]:
import sqlalchemy as sqla

In [18]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [19]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5