In [6]:
!pip install pypyodbc
import pypyodbc

Requirement already satisfied: pypyodbc in c:\programdata\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from pypyodbc) (45.2.0)

In [7]:
import pandas as pd
import sqlalchemy
import pypyodbc     # Used to actually create the .mdb file
import pyodbc

In [8]:
# Connection function to use for sqlalchemy
def Connection():
       MDB = 'C:\\database.mdb'
       DRV = '{Microsoft Access Driver (*.mdb)}'
       connection_string = 'Driver={Microsoft Access Driver (*.mdb)};DBQ=%s' % MDB
       return pyodbc.connect('DRIVER={};DBQ={}'.format(DRV,MDB))

In [11]:
# Create the sqlalchemy engine using the pyodbc connection
Engine = sqlalchemy.create_engine('mysql+pyodbc://', creator=Connection)

In [12]:
# Some dataframe
data = {'Values'     : [1., 2., 3., 4.],
           'FruitsAndPets'  : ["Apples", "Oranges", "Puppies", "Ducks"]}
df = pd.DataFrame(data)

In [13]:
df

   Values FruitsAndPets
0     1.0        Apples
1     2.0       Oranges
2     3.0       Puppies
3     4.0         Ducks